# PUBLIC CONFIG
name: 'npb-seed'
version: '0.0.0-pre'
description: 'A npb seed project.'
author: ':FooTearth <footearth@gmail.com>'
# main: ''
license: 'MIT'
repository:
  type: 'git'
  url: 'https://github.com/Mooxe000/npb-seed.git'
bugs:
  url: 'https://github.com/Mooxe000/npb-seed/issues'
homepage: 'https://github.com/Mooxe000/npb-seed'
Keywords: [
  'npb'
  'seed'
  'example'
  'coffee'
]

# BOWER CONFIG
bower:
  dependencies:
    'angularjs': 'angular.js'
    'bootstrap' : [
      'dist/css/bootstrap.css'
      'dist/fonts/glyphicons-halflings-regular.eot'
      'dist/fonts/glyphicons-halflings-regular.svg'
      'dist/fonts/glyphicons-halflings-regular.ttf'
      'dist/fonts/glyphicons-halflings-regular.woff'
      'dist/fonts/glyphicons-halflings-regular.woff2'
    ]
    'angular-bootstrap': 'ui-bootstrap.js'
    'ui-router': 'release/angular-ui-router.js'
    restangular: 'dist/restangular.js'
    lodash: 'dist/lodash.js'
  devDependencies: []

# NPM CONFIG
npm:
  bin: {}
  scripts:
    test: ''
  dependencies: []
  devDependencies: [
    'coffee-script'
    'npb-coffee'
    'gulp'
  ]

# NPB CONFIG
npb:

#  bower:
#    root_allow: true
  npm:
    commander: 'npm' # default
    # commander: 'cnpm'

# -- build tools --
#  build: 'gulp'  # default
#  build: 'grunt'
