doctype html
html(
lang='en'
ng-app='phonecatApp'
)
  head
    meta(charset='utf-8')
    title Share to teambition
    link(rel='stylesheet', href='./styles/libs/bootstrap.css', type="text/css")
    link(rel='stylesheet', href='./styles/style.css', type="text/css")
    link(rel='stylesheet', href='./styles/animations.css', type="text/css")

  body

    div.view-container
      div.view-frame(
      ng-view=''
      )

    script(src='./scripts/libs/jquery.js')
    script(src='./scripts/libs/angular.js')
    script(src='./scripts/libs/angular-animate.js')
    script(src='./scripts/libs/angular-route.js')
    script(src='./scripts/libs/angular-resource.js')
    script(src='./scripts/app.js')
    script(src='./scripts/route.js')
    script(src='./scripts/controllers.js')
    script(src='./scripts/filters.js')
    script(src='./scripts/services.js')
    script(src='./scripts/animations.js')
